.cool {
  width: 80%;
  height: auto;
  border: 1px black;
  border-radius: 40px;
  padding: 5px;
  background-color: #2484BF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.better {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #2484BF;
  text-align: center;
}

.column {
  width: 300px;
  float: left;
}